@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

@import "nullstyle.scss";

//Переменные
$ffPD: 'Playfair Display', serif;
$ffP: 'Prata', serif;
$ffR: 'Roboto', sans-serif;

$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs25: 20px;
$fs32: 32px;
$fs40: 40px;

$cgr: #555248;
$ctext: #1B1A17;
$crgba: rgba(27, 26, 23, 0.82);
$cbg: #444240;
$cborder: #C4C0B6;
$cbggallery: #FDFDFB;
$cbgbtn: #D4B098;
$cfff: #fff;
$ctextf: rgba(255, 255, 255, 0.75);

$fw500: 500;
$fw700: 700;


//Шаблоны
%logo {
    font-family: $ffPD;
    font-size: $fs12;   
    letter-spacing: 0.14em;
}

%btn {
    max-width: 205px;
    max-height: 64px;
    padding: 27px 38px;
    color:#fff;
    font-weight: $fw500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

%subt {
    font-family: $ffP;
    font-size: $fs16;
    color: $ctext;
    line-height: 22px;
}


/* Container */

.main {
    min-width: 1171px;
    font-family: $ffR;
    .container {
        max-width: 1171px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            margin: 0 15px;
        }
    }
}


/* Header */

.header__content {
    max-height: 807px;
    padding-top: 36px;
    background-image: url(../../img/cover/bg.svg);
    background-size: 473px 939px;
    background-position: 368px -40px;
    background-repeat: no-repeat;

    @media (max-width: 1200px) {
        padding-top: 13px;
        background-size: 373px 639px;
        background-position: 415px -10px;
    }
    @media (max-width: 767px) {
        background: none;
    }
}

.header__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        align-items:center;
        gap: 131px;
    }
    @media (max-width: 767px) {
        gap: 30px;
    }
        .header__logo {
        display: flex;
        gap: 3px;
        align-items: center;
        .header__title {
            @extend %logo;
            color: $cgr;
            line-height: 16px;

            @media (max-width: 1200px) {
                font-size: $fs25;
            }
            @media (max-width: 767px) {
                font-size: $fs25;
            }
        }
        .header__image img {
            @media (max-width: 1200px) {
                min-width: 50px;
            }
        }
    }
    .header__menu {
        display: flex;
        gap: 65px;

        @media (max-width: 767px) {
            gap: 60px;
        }

        .header__menu-elem {
            line-height: 16px;
        }
        @media (max-width: 1200px) {
            font-size: $fs25;
        }
        @media (max-width: 767px) {
            font-size: $fs32;
        }
        & a {
            color: $cgr;
            }
        }
    .header__icons {
        display: flex;
        gap: 23px;
        .header__icon {
            position: relative;

        & a img {
            @media (max-width: 767px) {
                width: 40px;
            }
        }
        
            .heart {
                padding: 2px 4px;
                min-width: 11px;
                min-height: 11px;
                position: absolute;
                background: $cbgbtn;
                font-size: 8px;
                border-radius: 50%;
                top: -4px;
                left: 16px;

                @media (max-width: 767px) {
                    padding: 3px 7px;
                    min-width: 20px;
                    min-height: 20px;
                    left: 26px;
                    font-size: 12px;
                }

            }
        }
    }
}

.header__body {
    display: flex;
    .header__description {
        margin-left: 86px;

        @media (max-width: 1200px) {
            margin-left: 128px;
            min-width: 350px;
        }

        .header__description_title {
            margin: 267px 0 16px -62px;
            font-family: $ffPD;
            font-size: $fs40;
            line-height: 60px;
            color: $ctext;
            
            @media (max-width: 1200px) {
                margin: 190px 0 16px 0;
            }
            @media (max-width: 767px) {
                margin: 190px 0 36px 0;
                font-size: 80px;
            }
        }
        & img {
            vertical-align: middle;

            @media (max-width: 1200px) {
                display: none;
            }

        }
        .header__description_subtitle {
            padding-bottom: 28px;
            font-family: $ffPD;
            font-size: 30px;
            line-height: 40px;
            color: $ctext;

            @media (max-width: 1200px) {
                font-size: $fs25;
                line-height: 30px;
            }

            @media (max-width: 767px) {
                font-size: $fs40;
            }
        }
        .header__description_text {
            padding-bottom: 58px;
            font-weight: 300;
            font-size: $fs14;
            line-height: 21px;
            color:$crgba;

            @media (max-width: 1200px) {
            padding-bottom: 38px;
            font-size: $fs16;
            }

            @media (max-width: 767px) {
                font-size: $fs25;
                line-height: 31px;
            }
        }
        .header__description_btn {
            margin-bottom: 234px;
            background:$cbg;
        }
        .btn {
            @extend %btn;

            @media (max-width: 767px) {
                font-size: $fs25;
                max-width: 355px;
                max-height: 214px;
                padding: 27px 38px;
            }
            }
    }
    .header__cover {
        .header__cover_image {
            position: relative;

            img{
                position: absolute;
                top: 20px;
                left: 132px;

                @media (max-width: 1200px) {
                    left: 83px;
                    max-height: 600px;
                }
                @media (max-width: 992px) {
                    line-height: 250px;
                }
            }
        }
    
        .cover__footnote-elem1 {
            @extend %subt;
            padding: 169px 0 0 57px;

            @media (max-width: 1200px) {
                padding: 109px 0 0 50px;
                font-size: $fs14;
            }
            @media (max-width: 767px) {
                font-size: $fs16;
            }
        }
        .cover__footnote-elem2 {
            @extend %subt;
            padding: 476px 0 0 534px;

            @media (max-width: 1200px) {
                font-size: $fs14;
                padding: 356px 0 0 359px;
                white-space: pre;
            }
            @media (max-width: 767px) {
                font-size: $fs16;
            }
        }
        & img {
            vertical-align: middle;
            padding: 0px 12px 3px 4px;
        }
    }
}

/* Gallery */

.gallery__row {
    display: flex;
    flex-direction: column;
    padding-top: 124px;

    @media (max-width: 1200px) {
        padding-top: 0px;
    }
}
.gallery__title {
    margin: 0 auto;
    font-family: $ffPD;
    color: $ctext;
    font-size: $fs32;
    line-height: 43px;

    @media (max-width: 1200px) {
        margin: 0 40%;
        white-space: pre;
    }
    @media (max-width: 767px) {
        margin: 0 30%;
        padding-bottom: 30px;
        font-size: 60px;
    }
}
.gallery__subtitle {
    margin-left: 1067px;
    font-size: $fs16;
    font-weight: $fw500;
    line-height: 19px;

    @media (max-width: 1200px) {
        margin-left: 15px;
    }

    @media (max-width: 767px) {
        padding-bottom: 20px;
        font-size: $fs32;
    }

    & a {
    color: $cbg;
    text-decoration: underline;
    text-decoration-color: $cborder;
    text-underline-offset: 11.5px;
    }
}
.gallery__colomns {
    margin: 25.5px 0 86px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
        display: block;
    }
}
.gallery__item {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        align-items: center;
        border-bottom: 1px solid $cbg;
    }
}
.item {
    min-width: 370px;
    min-height: 467px;
    background: $cbggallery
}
.item__title {
    padding: 40px 0 10px 40px;
    font-family: $ffPD;
    font-weight: $fw700;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $crgba;

    @media (max-width: 767px) {
        padding: 40px 0 30px 40px;
        font-size: $fs32;
    }
}
.item__price {
    padding-left: 40px;
    font-family: $ffP;
    line-height: 16px;
    color: $crgba;

    @media (max-width: 767px) {
        font-size: $fs25;
    }
    img {
        max-width: 7.38px;

        @media (max-width: 767px) {
        max-width: 15px;
        }
        
    }
}

.item__image {
    background-image: url(../../img/icons/ellipse.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;

    @media (max-width: 767px) {
        background: none;
    }

    img{
        max-width: 313px;
        max-height: 313px;

        @media (max-width: 767px) {
            min-width: 513px;
            max-height: 513px;
        }
    }
}
.item__subtitle {
    padding: 0 0 0 40px;
    font-family: $ffPD;
    font-size: $fs16;
    line-height: 21px;

    @media (max-width: 767px) {
        margin-bottom: 40px;
        font-size: $fs32;
    }

    img {
    vertical-align: middle;
    }
    a {
        padding: 0 0 0 18px;
    color: $ctext;
    }
}

/* Banner */

.banner__row {
    display: flex;
    overflow:hidden;
    background-color: $cbggallery;
}
.banner__image {
    background-image:url(../../img/banner/background_banner.svg);
    background-repeat: no-repeat;
    min-width: 698px;

    @media (max-width: 1200px) {
        min-width: 587px;
    }
}
.banner__image > img {
    padding: 52px 0 53px 177px;

    @media (max-width: 1200px) {
        padding: 52px 0 53px 65px;
    }

}
.banner__number {
    margin-top: -32px;
    margin-left: 530px;
    font-family: $ffP;
    color: $crgba;
    font-size: $fs12;
    line-height: 16px;

    @media (max-width: 1200px) {
        margin-top: -42px;
        margin-left: 462px;
        font-size: $fs16;
    }

    img {
        padding: 0 20px;
    }
}
.banner__description {
    margin: 140px 171px 0 69px;
    min-width: 376px;

    @media (max-width: 1200px) {
        margin: 140px 171px 0 25px;
        min-width: 485px;
    }

    @media (max-width: 767px) {
        margin: 100px 171px 0 25px;
        }
    .banner__title {
        font-family: $ffPD;
        font-size: $fs32;
        color: $ctext;
        line-height: 43px;

        @media (max-width: 767px) {
        font-size: $fs40;
        }
    }

}
.banner__text {
    padding: 38px 0 45px 0;
    max-width: 376px;
    font-size: $fs16;
    color: $cbg;
    line-height: 150%;


    @media (max-width: 767px) {
        font-size: $fs25;
        }
}
.btn {
    background: $cbgbtn;
    @extend %btn;

    @media (max-width: 767px) {
        font-size: 20px;
        max-width: 355px;
        max-height: 214px;
        padding: 27px 38px;
    }

    &:hover {
        opacity: 0.8;
        }

    & a {
        color: $cfff;
    }
}
.banner__bg {
    background-image: url(../../img/banner/ellipse-banner-big.svg);
    background-repeat: no-repeat;
}

//News 

.news__row {
    margin: 81px 0 90px 0;
    display: flex;

    .news__title {
        padding: 140px 71px 40px 0;
        font-family: $ffPD;
        font-size: $fs32;
        color: $ctext;

        @media (max-width: 767px) {
            padding: 70px 71px 40px 0;
            font-size: $fs40;
            text-align: center;
            }
    }
    .news__text {
        padding: 0 164px 119px 0;
        font-size: $fs16;
        color: $cbg;
        line-height: 27px;

        @media (max-width: 767px) {
            padding: 0 164px 36px 0;
            font-size: $fs25;
            text-align: center;
            }
        & a {
            color: #262421;
            font-weight: $fw500;
        }
    }
    .news__icons {
        display: flex;
        gap: 18px;

        @media (max-width: 767px) {
            margin-left: 100px;
            gap: 80px;
            align-items: center;
            }

        & a img {
            min-width: 200%;
        }
    }
}

.news__images {
    display: flex;
    gap: 10px;
    .news__image-little {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 242px;
    }
}


// Footer

.footer {
    background: $cbg;
}
.footer__row {
    padding: 67px 0;
    display: flex;
    justify-content: space-around;
    gap: 118px;

    @media (max-width: 767px) {
        padding: 47px 0;
        gap: 30px;
        }
}

.footer__logo {
    padding-bottom: 23px;
    display: flex;
    align-items:flex-end;
    @extend %logo;
    gap: 3px;
    font-size: $fs14;

    @media (max-width: 767px) {
        font-size: $fs25;
        }
    & img {
        vertical-align: top;
    }
}
.logo-title {
    color: $cfff;
}
.footer__tel {
    margin-bottom: 15px;
    font-size: $fs12;
    color: $ctextf;

    @media (max-width: 767px) {
        font-size: $fs25;
        }
}
.footer__mail {
    font-size: $fs12;

    @media (max-width: 767px) {
        font-size: $fs25;
        }

    & a {
        color: $ctextf;
    }
}

.footer__title {
    font-weight: $fw700;
    font-size: $fs14;
    color: $cfff;
    line-height: 16px;
    letter-spacing: 0.07em;

    @media (max-width: 767px) {
        font-size: $fs25;
        }

    & li:first-child{
        padding-top: 33px;
    }
    & li:last-child{
        padding-bottom: 0px;
    }

    & li {
        padding-bottom: 15px;
        font-size: $fs12;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: normal;

        @media (max-width: 767px) {
            font-size: $fs25;
            }

        & a {
        color: $ctextf;
        }
    }
}