@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

@import "nullstyle.scss";

//Переменные
$ffPD: 'Playfair Display', serif;
$ffP: 'Prata', serif;
$ffR: 'Roboto', sans-serif;

$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs32: 32px;

$cgr: #555248;
$ctext: #1B1A17;
$crgba: rgba(27, 26, 23, 0.82);
$cbg: #444240;
$cborder: #C4C0B6;
$cbggallery: #FDFDFB;
$cbgbtn: #D4B098;
$cfff: #fff;
$ctextf: rgba(255, 255, 255, 0.75);

$fw500: 500;
$fw700: 700;


//Шаблоны
%logo {
    font-family: $ffPD;
    font-size: $fs12;   
    letter-spacing: 0.14em;
}
%btn {
    max-width: 205px;
    max-height: 64px;
    padding: 27px 38px;
    color:#fff;
    font-weight: $fw500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

%subt {
    font-family: $ffP;
    font-size: $fs16;
    color: $ctext;
    line-height: 22px;
}


//Container

.main {
    min-width: 1105px;
    font-family: $ffR;
    .container {
        max-width: 1171px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            margin: 0 15px;
        }
    }
}


//Header

.header__content {
    max-height: 807px;
    padding-top: 36px;
    background-image: url(../../img/cover/bg.svg);
    background-size: 473px 939px;
    background-position: 368px -40px;
    background-repeat: no-repeat;

    @media (max-width: 1200px) {
        min-height: 807px;
    }
}

.header__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        justify-content: space-evenly;
    }

    .header__logo {
        display: flex;
        gap: 3px;
        align-items: center;
        .header__title {
            @extend %logo;
            color: $cgr;
            line-height: 16px;
        }
    }
    .header__menu {
        display: flex;
        gap: 65px;
        .header__menu-elem {
            line-height: 16px;
        }
        & a {
            color: $cgr;
        }
        }
    .header__icons {
        display: flex;
        gap: 23px;

        .header__icon{
            position: relative;
        
            .heart {
                padding: 2px 4px;
                min-width: 11px;
                min-height: 11px;
                position: absolute;
                background: $cbgbtn;
                font-size: 8px;
                border-radius: 50%;
                top: -4px;
                left: 16px;

            }
        }
    }
}

.header__body {
    display: flex;
    .header__description {
        margin-left: 86px;

        @media (max-width: 1200px) {
            margin-left: 100px;
        }

        .header__description_title {
            margin: 267px 0 16px -62px;
            font-family: $ffPD;
            font-size: 45px;
            line-height: 60px;
            color: $ctext;
            
            @media (max-width: 1200px) {
                font-size: 30px;
                line-height: 20px;
            }
            @media (max-width: 992px) {
                margin: 266px 0 16px 0px !important;
                font-size: 25px;
                line-height: 15px;
            }
        }
        & img {
            vertical-align: middle;

            @media (max-width: 992px) {
                display: none;
            }

        }
        .header__description_subtitle {
            padding-bottom: 28px;
            font-family: $ffPD;
            font-size: 30px;
            line-height: 40px;
            color: $ctext;

            @media (max-width: 1200px) {
                font-size: 20px;
                line-height: 30px;
            }
            @media (max-width: 992px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
        .header__description_text {
            padding-bottom: 58px;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color:$crgba;

            @media (max-width: 1200px) {
            padding-bottom: 38px;
            }
        }
        .header__description_btn {
            margin-bottom: 234px;
            background:$cbg;
        }
        .btn {
            @extend %btn;
            }
    }
    .header__cover {
        .header__cover_image {
            position: relative;

            img{
                position: absolute;
                top: 20px;
                left: 132px;

                @media (max-width: 1200px) {
                    left: 155px;
                }
                @media (max-width: 992px) {
                    line-height: 250px;
                }
            }
        }
    
        .cover__footnote-elem1 {
            @extend %subt;
            padding: 169px 0 0 57px;

            @media (max-width: 1200px) {
                padding: 169px 0 0 128px;
            }
            @media (max-width: 992px) {
            }
        }
        .cover__footnote-elem2 {
            @extend %subt;
            padding: 476px 0 0 534px;

            @media (max-width: 1200px) {
                padding: 476px 0 0 510px;
            }
        }
        & img {
            vertical-align: middle;
            padding: 0px 12px 3px 4px;
        }
    }
}

// Gallery

.gallery__row {
    display: flex;
    flex-direction: column;
    padding-top: 124px;

}
.gallery__title {
    margin: 0 auto;
    font-family: $ffPD;
    color: $ctext;
    font-size: $fs32;
    line-height: 43px;
}
.gallery__subtitle {
    margin-left: 1067px;
    font-size: $fs16;
    font-weight: $fw500;
    line-height: 19px;

    @media (max-width: 1200px) {
        margin-left: 15px;
    }

    & a {
    color: $cbg;
    text-decoration: underline;
    text-decoration-color: $cborder;
    text-underline-offset: 11.5px;
    }
}
.gallery__colomns {
    margin: 25.5px 0 86px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.gallery__item {
    display: flex;
    flex-direction: column;
}
.item {
    min-width: 370px;
    min-height: 467px;
    background: $cbggallery
}
.item__title {
    padding: 40px 0 10px 40px;
    font-family: $ffPD;
    font-weight: $fw700;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $crgba;
}
.item__price {
    padding-left: 40px;
    font-family: $ffP;
    line-height: 16px;
    color: $crgba;
    img {
        max-width: 7.38px;
    }
}

.item__image {
    background-image: url(../../img/icons/ellipse.svg);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
    img{
        max-width: 313px;
        max-height: 313px;
    }
}
.item__subtitle {
    padding: 0 0 0 40px;
    font-family: $ffPD;
    font-size: $fs16;
    line-height: 21px;
    img {
    vertical-align: middle;
    }
    a {
        padding: 0 0 0 18px;
    color: $ctext;
    }
}

//Banner


.banner__row {
    display: flex;
    overflow:hidden;
    background-color: $cbggallery;
}
.banner__image {
    background-image:url(../../img/banner/background_banner.svg);
    background-repeat: no-repeat;
    min-width: 698px;

    @media (max-width: 1200px) {
        max-width: 698px;
    }
.banner__image > img {
    padding: 52px 0 53px 177px;

    @media (max-width: 1200px) {

}
.banner__number {
    margin-top: -32px;
    margin-left: 530px;
    font-family: $ffP;
    color: $crgba;
    font-size: $fs12;
    line-height: 16px;

    img {
        padding: 0 20px;
    }
}
.banner__description {
    margin: 140px 171px 0 69px;

    @media (max-width: 1200px) {
        margin: 140px 171px 0 25px;
        min-width: 485px;
    }
    .banner__title {
        font-family: $ffPD;
        font-size: $fs32;
        color: $ctext;
        line-height: 43px;
    }

}
.banner__text {
    padding: 38px 0 45px 0;
    max-width: 376px;
    font-size: $fs16;
    color: $cbg;
    line-height: 150%;
}
.btn {
    background: $cbgbtn;
    @extend %btn;

    &:hover {
        opacity: 0.8;
        }

    & a {
        color: $cfff;
    }
}
.banner__bg {
    background-image: url(../../img/banner/ellipse-banner-big.svg);
    background-repeat: no-repeat;
}

//News 


.news__row {
    margin: 81px 0 90px 0;
    display: flex;

    .news__title {
        padding: 140px 71px 40px 0;
        font-family: $ffPD;
        font-size: $fs32;
        color: $ctext;
    }
    .news__text {
        padding: 0 164px 119px 0;
        font-size: $fs16;
        color: $cbg;
        line-height: 27px;
        & a {
            color: #262421;
            font-weight: $fw500;
        }
    }
    .news__icons {
        display: flex;
        gap: 18px;
    }
}

.news__images {
    display: flex;
    gap: 10px;
    .news__image-little {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 242px;
    }
}


// Footer

.footer {
    background: $cbg;
}
.footer__row {
    padding: 67px 0;
    display: flex;
    justify-content: space-around;
    // gap: 118px;
}

.footer__logo {
    padding-bottom: 23px;
    display: flex;
    align-items:flex-end;
    @extend %logo;
    gap: 3px;
    font-size: $fs14;
    & img {
        vertical-align: top;
    }
}
.logo-title {
    color: $cfff;
}
.footer__tel {
    margin-bottom: 15px;
    font-size: $fs12;
    color: $ctextf;
}
.footer__mail {
    font-size: $fs12;

    & a {
        color: $ctextf;
    }
}

.footer__title {
    font-weight: $fw700;
    font-size: $fs14;
    color: $cfff;
    line-height: 16px;
    letter-spacing: 0.07em;

    & li:first-child{
        padding-top: 33px;
    }
    & li:last-child{
        padding-bottom: 0px;
    }

    & li {
        padding-bottom: 15px;
        font-size: $fs12;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: normal;

        & a {
        color: $ctextf;
        }
    }
}


